
@{
    ViewBag.Title = "Asignacion Permisos";
}

<h2>Asignacion de Permisos</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Asignar permisos</h2>
        <p>
            Módulo para asignar los permisos a los usuarios de nuevo registro o existentes, estos estarán dados por región (ubicación).
        </p>
        @Html.ActionLink("Asignar permiso", "AsignacionPermiso", "AsignacionPermisos")
    </div>
</div>