
@{
    ViewBag.Title = "Reinicio Contraseñas";
}

<h2>Reinicio de Contraseñas</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Reinicio de contraseñas</h2>
        <p>
            Módulo para reiniciar la contraseña de usuarios que hayan extraviado la misma, a este módulo tiene acceso únicamente un administrador.
        </p>
        @Html.ActionLink("Reiniciar contraseña", "ReinicioContraseñas", "ReinicioContraseñas")
    </div>
</div>